.my-account-page {
  display: flex;
  padding-top: 40px;
  column-gap: 40px;
}

.avatar-user {
  width: 20%;
}

.user-info {
  font-size: 20px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  row-gap: 15px;
}

.edit-btn {
  position: absolute;
  background-image: url(../assets/editIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.edit-btn:hover {
  background-image: url(../assets/editIconBack.svg);
}

.field {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 35px;
}

.field input {
  color: black;
  padding: 0;
  border: 0;
  font-size: 20px;
}

.name-field {
  width: 110px;
}

.autorize-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin: 30px 60px;
}

.sign-up-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.register-btn-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.slider-btns {
  position: relative;
  display: flex;
  column-gap: 10px;
  padding: 5px 0;
}

.btns-underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #ec2741;
  transition: all 0.7s;
}

.slider-btn {
  font-size: 20px;
  font-weight: 700;
}

.slider {
  margin-top: 40px;
  max-width: calc(100% - 40px);
  position: relative;
  height: 400px;
  display: flex;
}

.slider-page {
  position: absolute;
  display: flex;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
  transition: opacity, visiblity, transform 0.5s, 0.5s, 0.8s;
  transform: rotateY(180deg);
}

.slider-page.active {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0deg);
}

form input {
  height: 45px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 18px;
  padding-left: 10px;
  width: calc(100% - 12px);
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 8px;
}

form div label {
  font-size: 18px;
  font-weight: 700;
}

form button {
  background-color: #d80027;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  padding: 13.5px 51px;
}
